
  <div id="main-content">
    <div class="dropdown">
      <span>Welcome,</span>
      <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown"><strong>振新</strong></a>
      <ul class="dropdown-menu dropdown-menu-right vivify flipInY">
        <li><a href="page-profile.html"><i class="icon-user"></i>My Profile</a></li>
        <li><a href="app-inbox.html"><i class="fa-atom"></i>Messages</a></li>
        <li><a href="index.html"><i class="icon-settings"></i>Settings</a></li>
        <li class="divider"></li>
        <li><a href="page-login.html"><i class="icon-power"></i>Logout</a></li>
      </ul>
    </div>
    <div>
    <select class="form-control">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  </div>





